<div class="container">
    <nav>
        <div class="logo">
            <h2>SASF</h2>
        </div>
        <div class="links">
            <ul>
                <li>
                    <a routerLink="/routing" routerLinkActive="active" href="#">
                        Routing
                    </a>
                </li>
                <li>
                    <a routerLink="/databind" routerLinkActive="active" href="#">
                        Data Binding
                    </a>
                </li>
                <li>
                    <a routerLink="/personas" routerLinkActive="active" href="#">
                        Persona
                    </a>
                </li>
                <li>
                    <a routerLink="/ejemplos" routerLinkActive="active" href="#">
                        Ejemplos
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>